@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scroll bar in the header section */

header::-webkit-scrollbar {
  display: none;
}

/* Style scroll bar in the main content area */
body::-webkit-scrollbar {
  width: 0.25em;
}

body::-webkit-scrollbar-track {
  background: #e5e7eb;
}

body::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 0.125rem;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
